* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right, rgba(87, 199, 255, 0.8), rgba(0, 127, 190, 0.8) ) , url(../img/hero-img.jpg);
    background-size: cover;
    background-position: center 90%;
    background-repeat: no-repeat;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70vh);

}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
    transform: scale(200%, 200%);
}

.logo {
    height: 35px;
}

.text-box {
    
}

.heading-primary-main {

}

.heading-primary-sub {

}